In [98]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [99]:
results = pd.read_csv("/home/maxi/SoyHenry/stack-overflow-developer-survey-2022/survey_results_public.csv", index_col="ResponseId")

In [100]:
#Renombramos las columnas con las que vamos a trabajar, asignandole una variable
languages = "LanguageWantToWorkWith"
salary = "ConvertedCompYearly"
results.rename(columns=({languages:"languages", salary:"salary"}), inplace = True)
results.head()

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,salary
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [101]:
#Eliminamos todos los NaN de las columnas que vamos a trabajar
#Afecta directamente al df, asi que no tenemos que reasignar con "="
results.dropna(subset=["languages","salary"], inplace=True)

In [102]:
#Seleccionamos filas y columnas con las que vamos a trabajar formato: loc[fila,columna]

results = results.loc[:,["languages","salary"]].sort_values(by="salary")

#vemos que hay numeros muy inreales de salarios como "1" o "2e6"
results

                                                    languages      salary
ResponseId
52006                                        C#;Go;JavaScript         1.0
39916          Assembly;C#;HTML/CSS;JavaScript;SQL;TypeScript         1.0
19913       HTML/CSS;JavaScript;PowerShell;Python;SQL;Type...         1.0
65743                           Go;Java;PowerShell;Python;SQL         1.0
36436                           C#;HTML/CSS;Python;TypeScript         3.0
...                                                       ...         ...
62224                                Go;Java;Python;Scala;SQL  22500000.0
61044       APL;Go;HTML/CSS;Java;JavaScript;Objective-C;Sw...  28853768.0
70523                     Bash/Shell;Go;JavaScript;Python;SQL  32500000.0
62027              Bash/Shell;Go;JavaScript;Python;TypeScript  35000000.0
202                                     JavaScript;TypeScript  44790396.0

[36053 rows x 2 columns]

In [103]:
#realizamos un ajuste con valores mas reales:

ajuste = (results["salary"] >= 6000) & (results["salary"] <= 1e6)
results= results[ajuste]

In [104]:
results

                                                    languages     salary
ResponseId
25131                                           Go;TypeScript     6000.0
11150                                                    Dart     6000.0
53523                          Dart;Go;Java;Python;TypeScript     6000.0
42037       Bash/Shell;C;C#;C++;Dart;Elixir;Go;HTML/CSS;Ja...     6000.0
70027         Dart;HTML/CSS;Java;JavaScript;Kotlin;TypeScript     6000.0
...                                                       ...        ...
1517         C++;Groovy;HTML/CSS;JavaScript;Python;TypeScript  1000000.0
28010       Bash/Shell;Dart;Go;HTML/CSS;JavaScript;Lua;PHP...  1000000.0
40882                                               C;C++;SQL  1000000.0
31741                                       Assembly;C;Python  1000000.0
12452                       Go;HTML/CSS;Rust;Swift;TypeScript  1000000.0

[33828 rows x 2 columns]

In [105]:
#Ahora tenemos que limpiar los lenguajes 
ajuste_language = results["languages"]
#creamos una lista vacia, en este caso seleccione un index al azar y aplico split para dar un ejemplo de como tiene que quedar dentro
allLanguages = ajuste_language[28010].split(";")
allLanguages

['Bash/Shell',
 'Dart',
 'Go',
 'HTML/CSS',
 'JavaScript',
 'Lua',
 'PHP',
 'Python',
 'Rust',
 'SQL',
 'TypeScript']

In [106]:
#Creamos nuestro loop para ir seleccionando los lengujes
# row = fila (english) xd 

for row in ajuste_language:
    for leng in row.split(";"):
        allLanguages.append(leng)

#limpiamos nuestra variable para que no existan repetidos

allLanguages = list(set(allLanguages))

allLanguages

['APL',
 'Delphi',
 'Kotlin',
 'MATLAB',
 'Java',
 'Ruby',
 'Objective-C',
 'COBOL',
 'Julia',
 'R',
 'Perl',
 'Dart',
 'Swift',
 'SAS',
 'Fortran',
 'Crystal',
 'VBA',
 'Solidity',
 'HTML/CSS',
 'PHP',
 'Elixir',
 'Bash/Shell',
 'Clojure',
 'JavaScript',
 'LISP',
 'Lua',
 'F#',
 'Groovy',
 'Haskell',
 'Erlang',
 'Scala',
 'C#',
 'C++',
 'PowerShell',
 'TypeScript',
 'Rust',
 'Assembly',
 'C',
 'SQL',
 'OCaml',
 'Go',
 'Python']

In [107]:
Meansalary = pd.DataFrame(data=np.zeros(len(allLanguages)), index= allLanguages, columns=["Salary"])
Meansalary

             Salary
APL             0.0
Delphi          0.0
Kotlin          0.0
MATLAB          0.0
Java            0.0
Ruby            0.0
Objective-C     0.0
COBOL           0.0
Julia           0.0
R               0.0
Perl            0.0
Dart            0.0
Swift           0.0
SAS             0.0
Fortran         0.0
Crystal         0.0
VBA             0.0
Solidity        0.0
HTML/CSS        0.0
PHP             0.0
Elixir          0.0
Bash/Shell      0.0
Clojure         0.0
JavaScript      0.0
LISP            0.0
Lua             0.0
F#              0.0
Groovy          0.0
Haskell         0.0
Erlang          0.0
Scala           0.0
C#              0.0
C++             0.0
PowerShell      0.0
TypeScript      0.0
Rust            0.0
Assembly        0.0
C               0.0
SQL             0.0
OCaml           0.0
Go              0.0
Python          0.0

In [108]:
#Importa libreria "re" para sacar el caracter especial de C++
import re

for leng in allLanguages:
    mask = results["languages"].str.contains(re.escape(leng))
    average = results.loc[mask,"salary"].mean()
    Meansalary.loc[leng,"Salary"] = average


Meansalary = Meansalary.sort_values(by="Salary")
Meansalary

                    Salary
PHP           76947.564225
COBOL         77018.736264
Dart          80590.029691
Solidity      85445.882243
SAS           88306.919192
VBA           88592.560472
JavaScript    91977.455365
HTML/CSS      92190.967249
Delphi        93018.041949
Java          93204.270203
MATLAB        94213.870445
Objective-C   95053.129683
C#            95609.962154
SQL           96269.972735
TypeScript    96430.509528
Python        96686.082449
C             96859.731083
Fortran       98189.260870
Swift         98278.956723
Kotlin        98453.623678
Groovy        98735.270408
PowerShell    99769.501832
C++           99919.794349
Go           100970.954641
Assembly     101390.199525
Julia        104940.004372
Bash/Shell   106478.668658
Lua          107453.376157
Scala        107453.402996
Ruby         107704.962963
R            107891.859635
Rust         108837.658072
F#           109112.290009
Elixir       110310.121294
Perl         112956.262087
APL          113274.251852
LISP         114870.888668
Haskell      115162.308477
Erlang       117212.365574
Clojure      117752.109637
Crystal      125317.869159
OCaml        139723.309211

In [109]:
    #Graficar
    #Colores
    colors = [
        "#03071E",
        "#370617",
        "#6A040F",
        "#9D0208",
        "#D00000",
        "#DC2F02",
        "#E85D04",
        "#F48C06",
        "#FAA307",
        "#FFBA08"
    ]

    fontdict = {
        'family': 'serif',
        'color':  'darkred',
        'weight': 'normal',
        'size': 16,
    }

In [110]:
%matplotlib qt5

plt.style.use("seaborn")
plt.barh(Meansalary.index, Meansalary["Salary"], color = colors)
plt.ylabel("LENGUAGES")
plt.xlabel("SALARY")
plt.title("MEAN SALARY 2022")
plt.tight_layout()

# vline(valor a tomar , comienza , termina)
plt.vlines(Meansalary["Salary"].mean(),0, len(allLanguages) ,color = "red" , linestyles= "dashed", label= "MeanSalary" )
plt.legend()

#poner $ a las x

plt.gca().xaxis.set_major_formatter("${x:1.0f}")



plt.show()